<a href="https://colab.research.google.com/github/fonslucens/test_machinelearning/blob/master/wholesale_decisiontreeclassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!ls

sample_data

In [2]:
!ls -l

total 4
drwxr-xr-x 1 root root 4096 Jun 15 13:37 sample_data

In [3]:
!pwd

/content

!pwd는 현재 위치를 알려준다. 
알아두기!

In [4]:
!ls -l ./sample_data/

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [31]:
!ls -l ./wholesale.xls

-rw-r--r-- 1 root root 46592 Jul  2 06:29 ./wholesale.xls

In [34]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df

     Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0             0        2       3  ...              2674        1338      4
1             1        2       3  ...              3293        1776      4
2             2        2       3  ...              3516        7844      4
3             3        1       3  ...               507        1788      2
4             4        2       3  ...              1777        5185      4
..          ...      ...     ...  ...               ...         ...    ...
435         435        1       3  ...               182        2204      2
436         436        1       3  ...                93        2346      2
437         437        2       3  ...             14841        1867      4
438         438        1       3  ...               168        2125      2
439         439        1       3  ...               477          52      2

[440 rows x 10 columns]

In [35]:
df.head(3)

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      4
1           1        2       3  ...              3293        1776      4
2           2        2       3  ...              3516        7844      4

[3 rows x 10 columns]

In [36]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [37]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [38]:
dtree.score(X,Y)

1.0